[package]
name = "rencrypt"
version = "0.1.21"
edition = "2021"

[lib]
name = "rencrypt"
crate-type = ["cdylib"]

[profile.dev]
opt-level = 3
debug = false
split-debuginfo = '...'  # Platform-specific.
strip = "none"
debug-assertions = false
overflow-checks = false
lto = false
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "auto-initialize"] }
ring = "0.17.8"
rand = "0.8.5"
rand_core = "0.6.4"
rand_chacha = "0.3.1"
#aead = "0.5.2"
#aes-gcm = "0.10"
rayon = "1.10.0"
zeroize = "1.8.1"
criterion = "0.5.1"
blake3 = "=0.1.3"
hex = "0.4.3"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }

[[bench]]
name = "parallel_copy"
harness = false